/.build/
/_build/
/Build
/Build.bat
/blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

MYMETA.*

/WWW-Form-UrlEncoded-XS-*
lib/WWW/Form/UrlEncoded/XS.c
!lib/WWW/Form/UrlEncoded/ppport.h
